@media (max-width: 768px) {
  .buttons .btn {
    font-size: 0.9rem;
    padding: 8px 15px;
  }

  .headline {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
  }

  .headline-content {
    width: 55%;
  }

  .headline-img {
    width: 45%;
  }

  .headline-img img {
    max-width: 100%;
    height: auto;
  }

  .headline-content h1 {
    font-size: 1.8rem;
    margin: 15px 0;
  }

  .headline-content p {
    font-size: 0.9rem;
    color: #bbb;
    margin: 10px 0;
  }

  .rating {
    font-size: 1rem;
    padding: 3px 8px;
  }

  #hidden {
    display: none;
  }
  
  .plan-card {
     overflow: hidden;
     display: none;
     width: 95%;
     border: 1px solid #fff;
  }
  
  .plan-card.first {
     display: block;
  }
}