@media (max-width: 768px) {
  .buttons .btn {
    font-size: 0.9rem;
    padding: 8px 15px;
  }

  .headline {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
  }

  .headline-content {
    width: 55%;
  }

  .headline-img {
    width: 45%;
  }

  .headline-img img {
    max-width: 100%;
    height: auto;
  }

  .headline-content h1 {
    font-size: 1.8rem;
    margin: 15px 0;
  }

  .headline-content p {
    font-size: 0.9rem;
    color: #bbb;
    margin: 10px 0;
  }

  .rating {
    font-size: 1rem;
    padding: 3px 8px;
  }

  /* Oculta os links com IDs específicos em telas pequenas */
  #hidden {
    display: none; /* Oculta os elementos com esses IDs */
  }

  .plans {
    display: flex; /* Garante que os cartões sejam exibidos em linha */
    align-items: center; /* Centraliza os cartões */
    gap: 20px; /* Espaço entre os cartões */
  }

  .plan-card {
    overflow: hidden;
    width: 95%; /* Ajusta a largura dos cartões */
    border: 1px solid #fff; /* Adiciona uma borda para destaque */
  }

  /* Removendo a lógica de display none */
  .plan-card.first {
    display: block; /* Exibe o cartão ativo, mas todos os cartões são exibidos */
  }
}