@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    width: 100%;
    background-color: #181a1b;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181a1b;
    z-index: 1000;
    border-bottom: 3px solid #0BA197;
}

.logo {
    flex: 0 0 35%;
    text-align: left;
    color: #a99fe5;
    font-family: "Sour Gummy", sans-serif;
    margin-left: 10px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #a99fe5;
}

.menu a:hover {
    border-top: 4px solid #0BA197;
    color: #0BA197;
}

#botao {
    background-color: #0BA197;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}

#botao:hover {
    background-color: #1E1650;
    border: none;
}

.headline {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 110px;
}

#headline-text {
    flex: 1 1 40%;
    margin-left: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#headline-text p {
    color: gray;
}

.buton-teste {
    background-color: #0BA197;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    margin: 0;
    margin-top: 5px;
}

.buton-teste:hover {
    background-color: #1E1650;
}

#headline-text h2 {
    color: #a99fe5;
    font-family: "Sour Gummy", sans-serif;
    margin: 0;
    text-align: center;
}

#headline-img {
    flex: 1 1 40%;
    margin-right: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#headline-img img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .headline {
        flex-direction: column;
        align-items: center;
    }

    #headline-text,
    #headline-img {
        flex: 1 1 100%;
        margin: 0;
        width: 80%;
    }

    #headline-img img {
        width: 100%;
    }
}

section {
    padding-top: 24px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

section img {
    width: 100%;
    height: auto;
}

.text {
    flex: 1 1 40%;
    margin-left: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: gray;
}

.img {
    flex: 1 1 40%;
    margin-right: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer {
   height: 40px;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   color: #0BA197;
   border-top: 3px solid #0BA197;
   bottom: 0;
}

.footer-content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 5px 18px;
   bottom: 0;
   height: 60px;
   
}

/* Estilos Planos  */


.titlePlans {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #4caf50;
}

.plans-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 220px;
    text-align: center;
    background-color: #121314;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
}

.card h3 {
    margin: 30px 0;
    font-size: 20px;
    color: #a99fe5;
}

.card p {
    font-size: 16px;
    color: #666;
}

.card a {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    color: #fff;
    background-color: #4caf50;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    outline: none;
    cursor: pointer;
    background: transparent;
}
